@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="go-button">
        Go
    </button>
    <div id="put-numbers-here" class="fibonacci-sequence">
        &nbsp;
    </div>
    <button id="stop-button">
        Stop
    </button>
</div>
